@{
    var topicDisplayNames = ViewBag.TopicDisplayNames;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - JensensWebApp</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
     <link rel="stylesheet" href="~/css/index.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/JensensWebApp.styles.css" asp-append-version="true" />
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital@1&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <nav id="navbar" class="navbar navbar-expand-sm">
            <!--Bootstrap Css, en nav bar och gör att Ul går åt sidan..-->
            <div class="container-sm custom-container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                    <img src="~/Pictures/MVCN.png" alt="light-mode-logo" class="logo-light-mode" style="width: 77px; height: 76px;" />
                    <img src="~/Pictures/MVC.jpg" alt="dark-mode-logo" class="logo-dark-mode" style="width: 77px; height: 76px;" />
                </a>
                <!--Bootstrap namn och logo..-->
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link nav-link-dark" asp-area="" asp-controller="Home" asp-action="Privacy">@topicDisplayNames["Halsa"]</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link nav-link-dark" asp-area="" asp-controller="Home" asp-action="Privacy">@topicDisplayNames["SamhalleKonflikter"]</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link nav-link-dark" asp-area="" asp-controller="Home" asp-action="Privacy">@topicDisplayNames["Miljo"]</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link nav-link-dark" asp-area="" asp-controller="Home" asp-action="Privacy">@topicDisplayNames["VetenskapTeknik"]</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link nav-link-dark" asp-area="" asp-controller="Home" asp-action="Privacy">@topicDisplayNames["LivsstillFritt"]</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link nav-link-dark" asp-area="" asp-controller="Home" asp-action="Privacy">@topicDisplayNames["Ekonomi"]</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link nav-link-dark" asp-area="" asp-controller="Home" asp-action="Privacy">@topicDisplayNames["Religion"]</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link nav-link-dark" asp-area="" asp-controller="Home" asp-action="Privacy">@topicDisplayNames["Idrott"]</a>
                    </li>

                </ul>
            </div>
        </nav>

    </header>



    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="custom-container">
            <div class="footlogo">
                <img src="~/Pictures/MVC.jpg" alt="logo" style="width: 120px; height: 120px;" />
            </div>
                <span class="textklass">Tjänstgörande onlineredaktörer: Elia Al Tarcha, Patrik Ask |© Sveriges Television AB - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a></span>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/data/javascript.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
